.row
  .col-sm-10.col-sm-offset-1
    .login-container
      .center
        %h1
          
      .space-6
      .position-relative
        #signup-box.signup-box.widget-box.no-border
          .widget-body
            .widget-main
              %h4.header.green.lighter.bigger
                %i.ace-icon.fa.fa-users.blue
                New User Registration
              .space-6
              %p Enter your details to begin:
              = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
                %fieldset
                  %label.block.clearfix
                    %span.block.input-icon.input-icon-right
                      = f.email_field :email, :class => "form-control", :placeholder => "Email"
                      %i.ace-icon.fa.fa-envelope
                  %label.block.clearfix
                    %span.block.input-icon.input-icon-right
                      = f.password_field :password, :class => "form-control", :placeholder => "Password"
                      %i.ace-icon.fa.fa-user
                  %label.block.clearfix
                    %span.block.input-icon.input-icon-right
                      = f.password_field :password_confirmation, :class => "form-control", :placeholder => 				"Password confirmation"
                      %label.block.clearfix
                      
                    %span.block.input-icon.input-icon-right
                      = f.text_field :first_name, :class => "form-control", :placeholder => "First name"
                      %i.ace-icon.fa.fa-user
                      %label.block.clearfix
                    %span.block.input-icon.input-icon-right
                      = f.text_field :last_name, :class => "form-control", :placeholder => "Last name"
                      %i.ace-icon.fa.fa-user
                      %label.block.clearfix
                    %span.block.input-icon.input-icon-right
                      = f.text_field :address, :class => "form-control", :placeholder => "Address"
                      %i.ace-icon.fa.fa-user
                      %label.block.clearfix
                    %span.block.input-icon.input-icon-right
                      = f.text_field :country, :class => "form-control", :placeholder => "Country"
                      %i.ace-icon.fa.fa-user
                      %label.block.clearfix
                    %span.block.input-icon.input-icon-right
                      = f.number_field :phone_number, :class => "form-control", :placeholder => "Phone number"
                      %i.ace-icon.fa.fa-user
                      %i.ace-icon.fa.fa-lock
                  .space-24
                  .clearfix
                    = f.submit "Register", :class => "btn btn-sm btn-success"
            .toolbar.center
              %a.back-to-login-link{:href => new_user_session_path}
                %i.ace-icon.fa.fa-arrow-left
                Back to login
          / /.widget-body
        / /.signup-box
      / /.position-relative
      .navbar-fixed-top.align-right
        %br/
         
        %a#btn-login-dark{:href => "#"} Dark
         
        %span.blue /
         
        %a#btn-login-blur{:href => "#"} Blur
         
        %span.blue /
         
        %a#btn-login-light{:href => "#"} Light
             
