
%h3 Listing user
%table#simple-table.table.table-bordered.table-hover
  %thead
    %tr
      %th Email
      %th First_Name
      %th Last_Name
      %th Address
      %th Country
      %th Phone_number
      %th Action
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.first_name
        %td= user.last_name
        %td= user.address
        %td= user.country
        %td= user.phone_number
        %td
          .hidden-sm.hidden-xs.btn-group
            = link_to "<span class='ace-icon fa fa-check bigger-120'>Show</span>".html_safe, user, :class => "button btn btn-xs btn-success"
          .hidden-sm.hidden-xs.btn-group
            = link_to "<span class='ace-icon fa fa-trash-o bigger-120'>Delete</span>".html_safe, user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button btn btn-xs btn-danger"
          

= paginate @users
%br/


