
= link_to "New Cart", new_cart_path, :class => "btn btn-info pull-right"

%table#simple-table.table.table-bordered.table-hover
  %thead
    %tr
      %th 
      %th 
      %th Action
  %tbody
    - @carts.each do |cart|
      - cart.line_items.each do |item|
        %tr
          %td
            = item.product.id
          %td
          %td
            .hidden-sm.hidden-xs.btn-group
              = link_to "<span class='ace-icon fa fa-check bigger-120'>Show</span>".html_safe, cart, :class => "button btn btn-xs btn-success"
            .hidden-sm.hidden-xs.btn-group
              = link_to "<span class='ace-icon fa fa-pencil bigger-120'>Edit</span>".html_safe, edit_cart_path(cart), :class => "button btn btn-xs btn-info"
            .hidden-sm.hidden-xs.btn-group
            = link_to "<span class='ace-icon fa fa-trash-o bigger-120'>Delete</span>".html_safe, cart, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button btn btn-xs btn-danger"
    %br/  
= paginate @carts
    



