
%h3 Listing Category
= link_to "New Category", new_category_path, :class => "btn btn-info pull-right"

%table#simple-table.table.table-bordered.table-hover
  %thead
    %tr
      %th Name
      %th Code
      %th Description
      %th Action
  %tbody
    - @categories.each do |category|
      %tr
        %td= category.name
        %td= category.code
        %td= category.description
        %td
          .hidden-sm.hidden-xs.btn-group
            %button.btn.btn-xs.btn-success
              = link_to "<span class='ace-icon fa fa-check bigger-120'>Show</span>".html_safe, category
          .hidden-sm.hidden-xs.btn-group
            %button.btn.btn-xs.btn-info
              = link_to "<span class='ace-icon fa fa-pencil bigger-120'>Edit</span>".html_safe, edit_category_path(category)
          .hidden-sm.hidden-xs.btn-group
            %button.btn.btn-xs.btn-danger
              = link_to "<span class='ace-icon fa fa-trash-o bigger-120'>Delete</span>".html_safe, category, method: :delete, data: { confirm: 'Are you sure?' }
    %br/  
= paginate @categories
    


