.profile-user-info.profile-user-info-striped
  .profile-info-row
    .profile-info-name Title
    .profile-info-value
      %p
        = @product.title
  .profile-info-row
    .profile-info-name Description
    .profile-info-value
      %p
        = @product.description
           
  .profile-info-row
    .profile-info-name Price
    .profile-info-value
      %p
        = @product.price
      
  .profile-info-row
    .profile-info-name Uniq_code
    .profile-info-value
      %p
        = @product.uniq_code

  .profile-info-row
    .profile-info-name Code
    .profile-info-value
      %p
        = @product.code

  .profile-info-row
    .profile-info-name Color
    .profile-info-value
      %p
        = @product.color
  .profile-info-row
    .profile-info-name Quantity
    .profile-info-value
      %p
        = @product.quantity

  .profile-info-row
    .profile-info-name Selected Image
    .profile-info-value
      %p
        = image_tag(@product.image.url(:thumb))
  .profile-info-row
    .profile-info-name View1
    .profile-info-value
      %p
        = image_tag(@product.view1.url(:thumb))
  .profile-info-row
    .profile-info-name View2
    .profile-info-value
      %p
        = image_tag(@product.view2.url(:thumb))
  .profile-info-row
    .profile-info-name View3
    .profile-info-value
      %p
        = image_tag(@product.view3.url(:thumb))
  


  