%p#notice= notice
%h3 Listing Products
= link_to "New Product", new_product_path, :class => "btn btn-info pull-right"
= link_to "Import ExcelSheet", "/product_import/new", :class => "btn btn-info pull-right"
%table#simple-table.table.table-bordered.table-hover
  %thead
    %tr
      %th Title
      %th Description
      %th Price
      %th Category
      %th Uniq_Code
      %th Code
      %th Color
      %th Action
  %tbody
    - @products.each do |product|
      %tr
        %td= product.title
        %td= product.description
        %td= product.price
        %td
          = product.category.name rescue '-'
        %td= product.uniq_code
        %td= product.code
        %td= product.color
        %td
          .hidden-sm.hidden-xs.btn-group
            %button.btn.btn-xs.btn-success
              = link_to "<span class='ace-icon fa fa-check bigger-120'>Show</span>".html_safe, product
          .hidden-sm.hidden-xs.btn-group
            %button.btn.btn-xs.btn-info
              = link_to "<span class='ace-icon fa fa-pencil bigger-120'>Edit</span>".html_safe, edit_product_path(product)
          .hidden-sm.hidden-xs.btn-group
            %button.btn.btn-xs.btn-danger
              = link_to "<span class='ace-icon fa fa-trash-o bigger-120'>Delete</span>".html_safe, product, method: :delete, data: { confirm: 'Are you sure?' }
          



= paginate @products
%br/


