%p#notice= notice
%h3 Listing Products
= link_to "New Product", new_product_path, :class => "btn btn-info pull-right"
%table#simple-table.table.table-bordered.table-hover
  %thead
    %tr
      %th Title
      %th Description
      %th Price
      %th Category_id
      %th Uniq_Code
      %th Code
      %th Color
      %th Action
  %tbody
    - @products.each do |product|
      %tr
        %td= product.title
        %td= product.description
        %td= product.price
        %td= product.category_id
        %td= product.uniq_code
        %td= product.code
        %td= product.color
        %td
          .hidden-sm.hidden-xs.btn-group
            %button.btn.btn-xs.btn-success
              %span.ace-icon.fa.fa-check.bigger-120::before 
              = link_to "Show".html_safe, product
            %button.btn.btn-xs.btn-info
              = link_to "Edit", edit_product_path(product)
            %button.btn.btn-xs.btn-danger
              = link_to "Delete", product, method: :delete, data: { confirm: 'Are you sure?' }
          

= paginate @products
%br/


