%p#notice= notice
%h3 Listing Products
%table#simple-table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Title
      %th Description
      %th Price
      %th Category_id
      %th Uniq_Code
      %th Code
      %th Color
      %th Action
  %tbody
  - @products.each do |product|
    %tr
      %td= product.title
      %td= product.description
      %td= product.price
      %td= product.category_id
      %td= product.uniq_code
      %td= product.code
      %td= product.color
      %td
        = link_to 'Show', product
        |
        = link_to 'Edit', edit_product_path(product)
        |
        = link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }
%br/

