.register_account
  .wrap
    / %a{method: :delete, :href => "/store"} Empty Bag 
    %h4.title Shopping cart
    %a{:method => "delete", :href => "/store", :style => "float: right"} Empty Bag
    %p.cart
      #shopping_bag
        %table#bagTable{:border => "0", :cellpadding => "0", :cellspacing => "0"}
          %tbody
            %tr#shopping_head
              %th
                Product Image
              %th Description
              %th Color
              %th Qty
              %th Price
              %th Delete
            - @cart.line_items.each do |item|
              %tr
                %td 
                  %img{:src => item.product.image.url(:thumb)}
                %td 
                  = item.product.description
                %td 
                  = item.product.color
                %td 
                  = item.quantity
                %td 
                  = item.total_price
                %td 
                  = link_to "Remove", item, :method => :delete, :confirm => "Are you sure?"
