.page-container
  .inner-page-contain.Edit-account
    .login-title
      %h4.title User Profile
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      %table
        .col_1_of_2.span_1_of_2
          %tbody           
            %tr
              %td      
                %label First Name: 
              %td
                = f.text_field :first_name, :class => "form-control"
            %tr
              %td
                %label Last Name: 
              %td
                = f.text_field :last_name, :class => "form-control"
            %tr
              %td
                %label Email:
              %td    
                = f.text_field :email, :class => "form-control"
            %tr
              %td
                %label Contact Number:
              %td    
                = f.text_field :phone_number, :class => "form-control"
            %tr
              %td
                %label Country:
              %td    
                = f.text_field :country, autocomplete: "off"
            %tr
              %td
                %label Current Password:
              %td    
                = f.password_field :current_password, autocomplete: "off"
            %tr
              %td
              %td  
                .actions
                  = f.submit "Update", :class => "grey"
  .clear
  .inner-page-contain.Edit-account 
    %table#bagtable
      %thead
        %tr
          %th Order ID
          %th Product Image
          %th Product Name
          %th Product Price
          %th Ordered Date
      %tbody
        - current_user.orders.each do |order|
          - order.order_items.each do |item|
            %tr
              %td
                = order.id
              %td
                %img{:src => item.product.image.url(:thumb)}
              %td
                = item.product.title
              %td
                = item.total_price
              %td
                = item.created_at.strftime("%B %e, %Y at %I:%M %p")


  .clear