.header-top
  .wrap
    .header-top-left
    .cssmenu
      %ul
        %li.active
          %a{:href => "store/current_user_details"} Account
        |
        - if user_signed_in?
          %li
            %a{:href => "#{destroy_user_session_path}"} Logout
            
        - else
          %li
            %a{:href => "#{new_user_session_path}"} Log In
          |
          %li
            %a{:href => "#{new_user_registration_path}"} Sign Up
        
    .clear
.header-bottom
  .wrap
    .header-bottom-left
      .logo
        %a{:href => '/store'}
          %img{:alt => "", :src => "/assets/logo.png"}/
      .menu
        %ul.megamenu.skyblue
          %li.showhide{:style => "display: none;"}
            %span.title MENU
            %span.icon1
            %span.icon2
          %li.active.grid{:style => "display: inline-block;"}
            %a{:href => '/store'} Home
        
          %li{:style => "display: inline-block;"}
            %a.color4{:href => "/store?code=wm-001"} women

            
          %li{:style => "display: inline-block;"}
            %a.color5{:href => "/store?code=m-001"} Men
        /- @category.products.each do |product|
        /end   
    .header-bottom-right
      .search
        = form_tag "/store", :method => "get" do
          = text_field_tag :search
          = submit_tag "Search"
        
        
      .tag-list#cartDetail
        = render :partial => "store/cart", :locals => {:cart => @cart}
        
    .clear