!!!
%html
  %head
    %title Demoshopping
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    / = javascript_include_tag "https://js.stripe.com/v1/", "application"
    / = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY
  %body
    = render :partial => "layouts/header"

    - if flash[:notice].present?
      .alert.alert-success.flash-notice-alert
        = notice
    
    #main-container.main-container
    
      - if user_signed_in?
        = render :partial => "layouts/sidebar"
      .main-content
        = render :partial => "layouts/breadcrumbs"
        = yield

